<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать питомца</title>
    <div th:replace="~{fragments/common-dependencies :: common-dependencies}"></div>
    <link rel="stylesheet" href="/css/edit-pet.css">
</head>
<body>
<header class="header">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <a th:href="@{/}"><img th:src="@{/img/logo-black.svg}" alt="TaggyPet" class="logo"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-10 col-sm-9 col-md-7 col-lg-5 col-xl-4 edit-window">
                    <div class="title elem-in-window">
                        <h1>Редактировать профиль питомца</h1>
                    </div>
                    <div class="form-container">
                        <form th:method="put" th:action="@{/pet/edit}">
                            <label for="chipId">Чип</label>
                            <input type="text" id="chipId" th:name="chipId" th:value="${pet.chipId}" pattern="\d{15}" maxlength="15" oninvalid="this.setCustomValidity('Чип должен состоять из 15 цифр')" class="input elem-in-window"><br><br>

                            <label for="type">Вид</label>
                            <input type="text" id="type" th:name="type" th:value="${pet.type}" oninvalid="this.setCustomValidity('Это поле является обязательным')" class="input elem-in-window"><br><br>

                            <label for="breed">Порода</label>
                            <input type="text" id="breed" th:name="breed" th:value="${pet.breed}" oninvalid="this.setCustomValidity('Это поле является обязательным')" class="input elem-in-window"><br><br>

                            <div class="radios-container">
                                <label>
                                    <input type="radio" id="female" th:name="sex" value="FEMALE" th:checked="${pet.sex.name() == 'FEMALE'}" class="real-radio">
                                    <span class="custom-radio"></span>
                                    Самка
                                </label>
                                <label>
                                    <input type="radio" id="male" th:name="sex" value="MALE" th:checked="${pet.sex.name() == 'MALE'}" class="real-radio">
                                    <span class="custom-radio"></span>
                                    Самец
                                </label>
                            </div>

                            <label for="name">Кличка</label>
                            <input type="text" id="name" th:name="name" th:value="${pet.name}" oninvalid="this.setCustomValidity('Это поле является обязательным')" class="input elem-in-window"><br><br>

                            <div class="features">
                                <h2>Особенности</h2>
                                <div class="toggle" id="features-fields">
                                    <div th:each="property, iterator : ${properties}">
                                        <label th:for="${property.propertyValue}" th:text="${property.propertyValue}">[Особенность питомца]</label>
                                        <input type="hidden" th:name="|features[${iterator.index}].propertyId|" th:value="${iterator.index}">
                                        <input type="text" th:id="${property.propertyValue}" th:name="|features[${iterator.index}].description|" th:value="${pet.features[iterator.index].description}" placeholder="Не указано" class="input elem-in-window"><br><br>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Подтвердить изменения" id="add-button" class="elem-in-window">
                        </form>
                    </div>
                    <div class="delete-container elem-in-window">
                        <a href="#" class="open-pop-up delete-button">Удалить</a>
                    </div>
                    <div class="delete">
                        <div class="pop-up" id="pop-up">
                            <div class="pop-up-container">
                                <div class="pop-up-body" id="pop-up-body">
                                    <h2>Вы уверены?</h2>
                                    <p>Все данные о питомце будут удалены и в случае его пропажи люди не смогут связаться с Вами через наш сервис.</p>
                                    <div class="buttons-container">
                                        <form name="confirm" th:method="delete" th:action="@{/pet/delete/{id}(id = ${pet.chipId})}">
                                            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                                            <input type="submit" value="Удалить" class="elem_in_window">
                                        </form>
                                        <button class="pop-up-close close-button">Отменить</button>
                                    </div>
                                    <div class="pop-up-close" id="pop-up-close">&#10006</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 delete-col">
                    <a href="#" id="open-pop-up" class="delete-icon open-pop-up"><img th:src="@{/img/trash.svg}" alt="Trash" class="trash"></a>
                </div>
            </div>
        </div>
    </div>
</header>
<script src="/js/chip-id-validation.js"></script>
<script src="/js/popup.js"></script>
</body>
</html>