<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TaggyPet</title>
    <div th:replace="~{fragments/common-dependencies :: common-dependencies}"></div>
    <link rel="stylesheet" th:href="@{/css/main-page.css}">
</head>
<body>
<header class="header">
    <div class="nav">
        <div class="container">
            <div th:if="${user != null}">
                <div class="row" id="navbar">
                    <div class="col-9 col-sm-8 col-md-3 col-xl-3">
                        <a th:href="@{/}"><img th:src="@{/img/logo-white.svg}" alt="TaggyPet" class="logo"></a>
                    </div>
                    <div class="col text-right display-none-mobile">
                        <a th:href="@{/user/personal-cabinet}" class="personal-cab">Личный кабинет</a>
                    </div>
                    <div class="col pers-cab-icon-container">
                        <a th:href="@{/user/personal-cabinet}"><img th:src="@{/img/pers-cab.svg}" alt="Личный кабинет"
                                                                    class="pers-cab-icon"></a>
                    </div>
                </div>
            </div>
            <div th:unless="${user != null}">
                <div class="row">
                    <div class="col-3 col-md-3 col-xl-3">
                        <img th:src="@{/img/logo-white.svg}" alt="Chipped Pets Helper" class="logo">
                    </div>
                    <div class="offset-md-3 col-md-2 offset-lg-4 col-lg-2 offset-xl-5 col-xl-2 display-none-small display-none-mobile">
                        <a th:href="@{/user/registration}" class="reg-link">Зарегистрироваться</a>
                    </div>
                    <div class="col text-right">
                        <a th:href="@{/user/login}" class="log-in">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="greeting">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xl-8">
                    <div class="msg display-none-mobile">
                        <h1>Поможем</h1>
                        <h1>потерянному</h1>
                        <h1>питомцу</h1>
                        <h1>вернуться</h1>
                        <h1>домой</h1>
                    </div>
                    <div class="msg-mobile display-none-mobile">
                        <h1>Поможем потерянному питомцу вернуться домой</h1>
                    </div>
                    <div class="search-label">
                        <h2 class="search-text">Нашли питомца с чипом?</h2>
                        <div class="search">
                            <form id="search-form" th:method="post" th:action="@{/pet/find}">
                                <div class="search-input">
                                    <!-- TODO: добавить поддержку поиска по stampId + валидацию (3 латинских буквы)-->
                                    <input type="text" th:name="searchParameter" id="chipId"
                                           placeholder="Введите номер чипа" pattern="^\d{15}" maxlength="15"
                                           required
                                    />
                                    <br><br>
                                </div>
                                <div class="search-btn">
                                    <button class="submit g-recaptcha"
                                            type="submit"
                                            th:attr="data-siteKey=${@reCaptchaKeys.getSite()}"
                                            data-callback='onSubmit'
                                            data-action='find'>Найти
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 text-right col-xl-4 display-none-mobile">
                    <div class="img-dog">
                        <img th:src="@{/img/dog-picture.png}" alt="Dog picture" class="dog-picture">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xl-8 recaptcha-errors" th:if="${reCaptchaErrors}">
                    <div class="alert alert-danger recaptcha-error" th:each="code : ${reCaptchaErrors}">
                        ReCaptcha: <span th:text="${code}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<footer>
    <p>This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
</footer>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    let input = document.getElementById("chipId");
    input.oninvalid = function (e) {
        e.target.setCustomValidity("");
        if (e.target.validity.patternMismatch) {
            e.target.setCustomValidity("Чип должен состоять из 15 цифр");
            e.target.reportValidity();
        }
    };
    input.oninput = function (e) {
        e.target.setCustomValidity("");
    }

</script>
<script src="/js/chip-id-validation.js"></script>
</body>
</html>
