<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет</title>
    <div th:replace="~{fragments/common-dependencies :: common-dependencies}"></div>
    <link rel="stylesheet" th:href="@{/css/personal-cabinet.css}">
</head>
<body>
<header class="header">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                    <a th:href="@{/}"><img th:src="@{/img/logo-black.svg}" alt="Chipped Pets Helper" class="logo"></a>
                </div>
                <div class="col-5 col-sm-5 col-md-4 col-lg-3 col-xl-3 personal-cabinet-col display-none-sm">
                    <h6 class="personal-cabinet-label">Личный кабинет</h6>
                </div>
                <div class="col text-right menu">
                    <input type="checkbox" id="burger">
                    <label for="burger"></label>
                    <nav>
                        <ul>
                            <li>
                                <form th:method="post" th:action="@{/logout}">
                                    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                                    <input type="submit" class="logout-btn" value="Выйти">
                                </form>
                            </li>
                            <!-- TODO: убрать переход на отдельную страницу для удаления; сделать всплывающее окно -->
                            <li><a th:href="@{/user/delete-account}" class="menu-link">Удалить аккаунт</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="offset-md-2 col-md-1 offset-lg-2 col-lg-1 offset-xl-3 col-xl-1 logout-col display-none-md">
                    <form th:method="post" th:action="@{/logout}">
                        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                        <input type="submit" class="logout-btn" value="Выйти">
                    </form>
                </div>
                <div class="col col-lg-2 display-none-md delete-col">
                    <a th:href="@{/user/delete-account}" class="delete-link"><h6 class="delete-label">Удалить
                        аккаунт</h6></a>
                </div>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="header-user-data">
                        <ul>
                            <li class="list-label">Мои данные</li>
                            <li><a th:href="@{/user/edit-profile}" class="edit-icon"><img th:src="@{/img/edit.svg}" alt="Edit" class="inline"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="user-data">
                        <table class="user-data-table">
                            <tr>
                                <td class="title">Имя</td>
                                <td class="data" th:text="${user.firstName}">user.firstName</td>
                            </tr>
                            <tr>
                                <td class="title">Телефон</td>
                                <td class="data" th:text="${user.phoneNumber}">user.phoneNumber</td>
                            </tr>
                            <tr>
                                <td class="title">Email</td>
                                <td class="data" th:text="${user.email}">user.email</td>
                            </tr>
                            <!-- TODO: обработка всех соц. сетей пользователя -->
                            <div th:each="socialNetwork : ${user.userSocialNetworks}" th:if="${socialNetwork.shortName != ''}">
                                <tr>
                                    <td class="title social-network">
                                        <img th:src="@{${'/img/icons/' + socialNetwork.socialNetwork.propertyValue + '.svg'}}" alt="Social network logo" class="social-network-logo">
                                    </td>
                                    <td class="data" th:text="${socialNetwork.shortName}"></td>
                                </tr>
                            </div>
                        </table>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-4 offset-xl-1 col-xl-5 picture-container">
                    <img th:src="@{/img/pers-cab.png}" alt="Personal cabinet picture" class="pers-cab-img">
                </div>
            </div>
        </div>
    </div>
    <div class="pets-list-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <ul>
                        <li class="list-label">Мои питомцы</li>
                        <li class="display-none-mobile"><a th:href="@{/pet/add-new-pet}" class="pet-list-btn">+ <span class="add-label">Добавить</span></a></li>
                        <li class="mobile"><a th:href="@{/pet/add-new-pet}" class="pet-list-btn">+</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pets-list">
        <div class="container">
            <div class="row">
                <div class="col-11 col-sm-6 col-md-6 col-lg-4 col-xl-4" th:each="pet, iterator : ${pets}">
                    <a th:href="@{/pet/my-pets/{id}(id = ${pet.chipId})}" class="pet-info-link">
                        <div class="wrapper pet-card" th:id="${iterator.index}">
                            <div class="pet-name">
                                <h5 th:text="${pet.name}">pet.name</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<script th:inline="javascript">
    let pets = /*[[${pets}]]*/ [];
    let petCard;
    let petImage;
    for (let i = 0; i < pets.length; ++i) {
        petCard = document.getElementById(i.toString());
        petImage = pets[i].petImageDto.imageUUIDName;
        if ("default-pet-image.png".localeCompare(petImage) === 0) {
            petCard.style.background = "url(/img/" + petImage + ")";
        } else {
            petCard.style.background = "linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1)), url(/pet/images/" + petImage + ")";
        }
    }
</script>
</body>
</html>
