<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о питомце</title>
    <div th:replace="~{fragments/common-dependencies :: common-dependencies}"></div>
    <link rel="stylesheet" th:href="@{/css/pet-info.css}">
</head>
<body>
<header class="header">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2">
                    <a th:href="@{/}"><img th:src="@{/img/logo-black.svg}" alt="TaggyPet" class="logo"></a>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 col-xl-3 change-bootstrap-padding display-none-mobile find-pet-label-col">
                    <h6 class="find-pet-label">Поиск питомца</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-11 col-sm-12 col-md-10 col-lg-8 col-xl-7 mx-auto pet-data-window">
                    <div class="title elem_in_window">
                        <h1 class="adaptive-header">
                            <span class="normal-header">Ура, питомец найден!</span>
                            <span class="narrow-screen-header">Питомец найден!</span>
                        </h1>
                    </div>
                    <div class="data-container elem-in-window">
                        <div class="wrapper pet-card" id="pet-card">
                            <div class="pet-name">
                                <h4 id="pets-name" th:text="${pet.name}">Вобла</h4>
                            </div>
                        </div>
                        <div class="pet-data">
                            <table class="pet">
                                <tr>
                                    <td class="title-table">Вид</td>
                                    <td class="data-table" th:text="${pet.type}">[Здесь отобразится вид питомца]</td>
                                </tr>
                                <tr>
                                    <td class="title-table">Порода</td>
                                    <td class="data-table" th:text="${pet.breed}">[Здесь отобразится порода питомца]
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title-table">Пол</td>
                                    <td class="data-table" th:text="${pet.sex}">[Здесь отобразится пол питомца]</td>
                                </tr>
                                <tr>
                                    <td class="title-table">Чип</td>
                                    <td class="data-table" th:text="${pet.chipId}">[Здесь отобразится чип питомца]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features" th:if="${not #lists.isEmpty(pet.features)}">
        <div class="container">
            <div class="row features-header display-none-mobile">
                <div class="col-xl-6">
                    <h2>У этого питомца есть <span class="features-orange">особенности</span></h2>
                </div>
            </div>
            <div class="row features-list">
                <div class="col-10 col-sm-6 col-md col-lg col-xl feature-col" th:each="feature : ${pet.features}">
                    <h3 th:text="${feature.propertyType.propertyValue}">Тип особенности</h3>
                    <p class="feature-description" th:text="${feature.description}">Описание особенности</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts">
        <div class="container">
            <div class="row contacts-header">
                <div class="col-xl-6">
                    <h2>Свяжитесь с хозяевами</h2>
                </div>
            </div>
            <div class="row contacts-cards">
                <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto user-card" th:each="user : ${pet.users}">
                    <div class="user-data">
                        <table class="user">
                            <tr>
                                <td class="title-table">Имя</td>
                                <td class="data-table" th:text="${user.firstName}">Имя владельца</td>
                            </tr>
                            <tr th:if="${user.phoneNumber != null}">
                                <td class="title-table">Телефон</td>
                                <td class="data-table" th:text="${user.phoneNumber}">Телефон владельца, если его показ
                                    разрешен
                                </td>
                            </tr>
                            <tr th:if="${user.email != null}">
                                <td class="title-table">Email</td>
                                <td class="data-table" th:text="${user.email}">Email владельца, если его показ
                                    разрешен
                                </td>
                            </tr>
                        </table>
                        <div class="social-networks-container">
                            <!-- TODO: обработка всех соц. сетей пользователя -->
                            <div th:each="socialNetwork : ${user.socialNetworks}" th:if="${socialNetwork.shortName != ''}" class="social-network">
                                <a  th:href="@{${socialNetwork.baseUrl + socialNetwork.shortName}}" class="social-network-link">
                                    <img th:src="@{${'/img/icons/' + socialNetwork.name + '.svg'}}" alt="Link" class="social-network-logo">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<script th:inline="javascript">
    let petCard = document.getElementById('pet-card');
    let petImage = /*[[${pet.petImageDto.imageUUIDName}]]*/ "Pet's image";
    if ("default-pet-image.png".localeCompare(petImage) === 0) {
        petCard.style.background = "url(/img/" + petImage + ")";
    } else {
        petCard.style.background = "linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1)), url(/pet/images/" + petImage + ")";
    }
    petCard.style.backgroundRepeat = "no-repeat";
    petCard.style.backgroundPosition = "center";
    petCard.style.backgroundSize = "cover";
</script>
</body>
</html>
