<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Питомец не найден</title>
    <div th:replace="~{fragments/common-dependencies :: common-dependencies}"></div>
    <link rel="stylesheet" th:href="@{/css/pet-not-found.css}">
</head>
<body>
<header class="header">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
                    <a href="/"><img th:src="@{/img/logo-white.svg}" alt="TaggyPet" class="logo"></a>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 col-xl-3 change-bootstrap-padding display-none-mobile">
                    <h6 class="pet-search-label">Поиск питомца</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-xl-10">
<!--                    TODO: сделать для клейма отдельное сообщение-->
                    <h1>К сожалению, питомца с чипом <span th:text="${searchParameter}">123456789012345</span> нет в нашей базе :(</h1>
                </div>
            </div>
            <div class="row return">
                <div class="col-xl-2">
                    <a th:href="@{/}" class="return-btn">Вернуться</a>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>