<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование профиля</title>
    <div th:replace="fragments/common-dependencies :: common-dependencies"></div>
    <link rel="stylesheet" th:href="@{/css/edit-profile.css}">
</head>
<body>
<header class="header">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <a th:href="@{/}"><img th:src="@{/img/logo-black.svg}" alt="Chipped Pets Helper" class="logo"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-5 mx-auto edit-window">
                    <div class="title elem-in-window">
                        <h1>Редактировать профиль</h1>
                    </div>
                    <div class="form-container">
                        <form th:method="put" th:action="@{/user/edit-profile}">
                            <label for="firstName">Имя</label>
                            <input type="text" th:name="firstName" id="firstName" th:value="${user.firstName}" class="elem-in-window input">

                            <label for="firstName">Email<img th:src="@{/img/lock.svg}" alt="Lock" class="lock-img"></label>
                            <input type="email" th:name="email" th:value="${user.email}" readonly class="elem-in-window input">

                            <label for="firstName">Телефон</label>
                            <input type="tel" th:name="phoneNumber" th:value="${user.phoneNumber}" class="elem-in-window input">

                            <label for="firstName">Пароль</label>
                            <input type="password" th:name="password" class="elem-in-window input">

                            <label for="firstName">Введите пароль еще раз</label>
                            <input type="password" th:name="retypePassword" class="elem-in-window input"><br>

                            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Подтвердить изменения" class="elem-in-window">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>