<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/pet-info.css}">
</head>
<body>
<header class="header">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-xl-2">
                    <a th:href="@{/}"><img th:src="@{/img/logo-black.svg}" alt="Chipped Pets Helper" class="logo"></a>
                </div>
                <div class="col-xl-3 change-bootstrap-padding">
                    <h6 class="find-pet-label">Поиск питомца</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 mx-auto pet-data-window">
                    <div class="title elem-in-window">
                        <h1>Ура, питомец найден!</h1>
                    </div>
                    <div class="data-container elem-in-window">
                        <div class="wrapper pet-card">
                            <div class="pet-name">
                                <h4 th:text="${pet.name}">Вобла</h4>
                            </div>
                        </div>
                        <div class="pet-data">
                            <table class="pet">
                                <tr>
                                    <td class="title-table">Вид</td>
                                    <td class="data-table" th:text="${pet.type}">[Здесь отобразится вид питомца]</td>
                                </tr>
                                <tr>
                                    <td class="title-table">Порода</td>
                                    <td class="data-table" th:text="${pet.breed}">[Здесь отобразится порода питомца]
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title-table">Пол</td>
                                    <td class="data-table" th:text="${pet.sex}">[Здесь отобразится пол питомца]</td>
                                </tr>
                                <tr>
                                    <td class="title-table">Чип</td>
                                    <td class="data-table" th:text="${pet.chipId}">[Здесь отобразится чип питомца]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features" th:if="${not #lists.isEmpty(pet.features)}">
        <div class="container">
            <div class="row features-header">
                <div class="col-xl-6">
                    <h2>У этого питомца есть <span class="features-orange">особенности</span></h2>
                </div>
            </div>
            <div class="row features-list">
                <div class="col-xl-3" th:each="feature : ${pet.features}">
                    <h3 th:text="${feature.propertyType.propertyValue}">Тип особенности</h3>
                    <p class="feature-description" th:text="${feature.description}">Описание особенности</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts">
        <div class="container">
            <div class="row contacts-header">
                <div class="col-xl-6">
                    <h2>Свяжитесь с хозяевами</h2>
                </div>
            </div>
            <div class="row contacts-cards">
                <div th:each="user : ${pet.users}">
                    <div class="user-card">
                        <table class="user">
                            <tr>
                                <td class="title-table">Имя</td>
                                <td class="data-table" th:text="${user.firstName}">[Здесь отобразится имя хозяина]</td>
                            </tr>
                            <tr>
                                <td class="title-table">Телефон</td>
                                <td class="data-table" th:text="${user.phoneNumber}">+7 913 472-93-04</td>
                            </tr>
                            <tr>
                                <td class="title-table">Email</td>
                                <td class="data-table" th:text="${user.email}">sergay@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="title-table">Телеграм</td>
                                <td class="data-table">
                                    <!--                                        TODO: ссылка на тг должна браться таймлифом из юзера-->
                                    <a th:href="@{https://telegram.me/makar_mikhalev}" class="tg-btn">
                                        <img th:src="@{/img/tg.svg}" alt="Telegram">Написать
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>