<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных питомца</title>
</head>
<body>
    <b>Чип:</b> <p style="display: inline" th:text="${pet.chipId}">chipID</p><br>
    <b>Вид животного:</b> <p style="display: inline" th:text="${pet.type}">type</p><br>
    <b>Порода:</b> <p style="display: inline" th:text="${pet.breed}">breed</p><br>
    <b>Пол:</b> <p style="display: inline" th:text="${pet.sex}">sex</p><br>
    <b>Кличка:</b> <p style="display: inline" th:text="${pet.name}">chipID</p><br>
</body>
</html>