<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <div th:replace="fragments/common-dependencies :: common-dependencies"></div>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <script src="/js/phoneinput.js"></script>
</head>
<body>
<div class="registration_page">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <a th:href="@{/}"><img th:src="@{/img/logo-white.svg}" alt="Chipped Pets Helper" class="logo"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="offer">
        <div class="container">
            <div class="row">
                <div class="col-11 col-sm-7 col-md-5 col-lg-4 col-xl-4 mx-auto edit-window">
                    <div class="title elem-in-window">
                        <h1>Регистрация</h1>
                    </div>
                    <div class="form-container">
                        <form th:method="post" th:action="@{/user/registration}">
                            <input type="text" th:name="firstName" placeholder="Имя" class="elem-in-window input"><br><br>

                            <!-- TODO: обработать чекбоксы -->
                            <label for="email">Даю разрешение на показ моего адреса электронной почты</label>
                            <input type="checkbox" th:name="hasPermitToShowEmail" th:value="true"><br>
                            <input type="email" id="email" th:name="email" placeholder="Email" class="elem-in-window input"> <br><br>

                            <!-- TODO: обработать чекбоксы -->
                            <label for="phone">Даю разрешение на показ моего номера телефона</label>
                            <input type="checkbox" id="phone" th:name="hasPermitToShowPhoneNumber" th:value="true"> <br>
                            <input type="tel" data-tel-input th:name="phoneNumber" placeholder="Телефон" class="elem-in-window input"> <br><br>

                            <input type="password" th:name="password" placeholder="Пароль" class="elem-in-window input"><br><br>

                            <!-- TODO: возможно стоит добавить чекбокс: "я хочу указать соцсети" -->
                            <!-- TODO: обработать иконку + строку -->
                            <div th:each="property, iterator : ${properties}">
                                <img th:src="@{${'/img/icons/' + property.propertyValue + '.svg'}}" alt="Logo">
                                <input type="hidden" th:name="|socialNetworks[${iterator.index}].propertyId|" th:value="${iterator.index}">
                                <input type="text" th:name="|socialNetworks[${iterator.index}].shortName|" placeholder="Ссылка на социальную сеть"/><br><br>
                            </div>
                            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Зарегистрироваться" class="elem-in-window">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
