body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #eaeaea;
}

.nav {
    z-index: 1;
    position: relative;
    margin-top: 38px;
}

.row {
    align-items: center;
}

.logo {
    height: 54px;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.offer {
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    align-items: center;
    color: black;
    display: flex;
}

.lock-img {
    margin-bottom: 4px;
    margin-left: 6px;
    height: 15px;
    opacity: 80%;
}

.edit-window {
    border-radius: 43px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 35px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.elem-in-window {
    margin: auto;
}

.title {
    margin-top: 35px;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
}

form {
    text-align: center;
}

h5 {
    color: black;
    font-size: 1.1em;
    font-weight: 600;
}

.checkboxes {
    margin-bottom: 15px;
    display: inline-block;
}

.real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.real-checkbox:focus + .custom-checkbox {
    box-shadow: 0px 0px 0px 1px #ff742b, 0px 0px 10px rgba(250, 128, 64, 0.8);
}

.real-checkbox:hover + .custom-checkbox {
    box-shadow: 0px 0px 0px 1px #ff742b, 0px 0px 10px rgba(250, 128, 64, 0.8);
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 3px solid #ff742b8a;
    border-radius: 4px;
    vertical-align: sub;
    margin-right: 5px;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../img/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 1px;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.social-networks {
    margin-top: 20px;
}

.social-network-container {
    margin-top: 20px;
}

.social-network-logo {
    margin-right: 10px;
}

.social-network-container input[type="text"] {
    width: 79%;
}

.input {
    background-color: #eaeaeab3;
    width: 100%;
    padding: 10px 15px;
    border-style: solid;
    font-size: 15px;
    font-weight: 500;
    color: black;
    border-width: 3px;
    border-color: #c5c5c5;
    border-radius: 20px;
    outline: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    margin-top: 15px;
    display: block;
    font-weight: bold;
    border-radius: 64px;
    padding: 12px 35px;
    font-size: 15px;
    border-style: none;
    outline: none;
    background-color: #FF742B;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: #FF742B;
    box-shadow: 1px 1px 30px 6px rgba(255, 116, 43, 100);
}

@media screen and (max-width: 575px){
    body {
        background-color: white;
    }

    .offer {
        margin-top: 0px;
    }

    h1 {
        text-align: center;
        font-size: 1.3rem;
    }

    .edit-window {
        box-shadow: none;
    }

    .input {
        width: 260px;
    }

    .social-network-container input[type="text"] {
        width: 64%;
    }

    input[type="submit"] {
        width: 265px;
        font-size: 14px;
    }
}