html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #462446;
}

.nav {
    margin-top: 25px;
    margin-bottom: 9%;
}

.row {
    align-items: center;
}

.logo {
    height: 54px;
}

.reg-link {
    margin-left: 3em;
    font-size: 16px;
    color: white;
    position: relative;
}

.reg-link:hover {
    color: white;
}

.log-in {
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    color: #462446;
    border-radius: 35px;
    padding: 1em 1.5em;
    text-decoration: none;
}

.log-in:hover {
    text-decoration: none;
    color: #462446;
    background-color: white;
    box-shadow: 1px 1px 30px 6px rgba(255, 255, 255, 100);
}

.pers-cab-icon-container {
    display: none;
}

.personal-cab {
    font-size: 16px;
    font-weight: 600;
    color: white;
    position: relative;
}

.personal-cab:hover {
    color: #FF742B;
}

h1 {
    font-weight: bold;
    margin-bottom: 4px;
}

.msg {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 50%;
}

.search {
    align-items: center;
}

.search-text {
    margin-bottom: 20px;
}

.search-input {
    float: left;
    margin-right: 17px;
}

input[type="text"] {
    font-size: 20px;
    opacity: 80%;
    padding: 15px;
    border-radius: 31px;
    border-style: none;
    outline: none;
}

.submit {
    font-weight: bold;
    border-radius: 64px;
    padding: 15px 30px;
    font-size: 20px;
    border-style: none;
    outline: none;
    background-color: #FF742B;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.submit:hover {
    background-color: #FF742B;
    box-shadow: 1px 1px 30px 6px rgba(255, 116, 43, 100);
}

.submit:focus {
    outline: none;
}

.grecaptcha-badge {
    visibility: hidden;
}

.recaptcha-errors {
    position: initial;
    margin-top: -15px;
}

.recaptcha-error {
    width: fit-content;
}

.dog-picture {
    height: 460px;
}

footer {
    padding: 5px 15px;
    margin-top: 25px;
    margin-bottom: 10px;
}

footer p {
    color: #ffffff47;
    text-align: center;
}

footer a {
    color: #ffffff91;
}

@media screen and (min-width: 576px) {
    .msg-mobile {
        display: none;
    }
}

@media screen and (max-width: 991.5px) {
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .display-none-small {
        display: none;
    }

    .msg {
        margin-bottom: 25px;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1rem;
    }

    .search-input {
        height: 50px;
        margin-bottom: 5px;
    }

    input[type="text"] {
        height: 40px;
        font-size: 15px;
        opacity: 80%;
        padding: 15px;
        border-radius: 31px;
        border-style: none;
        outline: none;
    }

    .submit {
        padding: 8px 30px;
        font-size: 15px;
    }

    .dog-picture {
        height: 340px;
    }

    .recaptcha-errors {
        margin-top: 25px;
    }
}

@media screen and (max-width: 575.5px) {
    .nav {
        margin-bottom: 15%;
    }

    .logo {
        height: 45px;
    }

    .pers-cab-icon-container {
        display: block;
    }

    .pers-cab-icon {
        opacity: 70%;
        height: 40px;
    }

    .display-none-mobile {
        display: none;
    }

    .search {
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        opacity: 100%;
    }

    .search-input {
        width: 100%;
        margin-bottom: 1em;
    }

    input[type="text"] {
        text-align: center;
        width: 270px;
        height: 50px;
        font-size: 20px;
    }

    .log-in {
        font-size: 16px;
        background-color: white;
        color: #462446;
        border-radius: 35px;
        padding: 0.7em 1em;
        text-decoration: none;
    }

    .submit {
        padding: 12px 30px;
        font-size: 15px;
    }
}
