body {
    font-family: 'Montserrat', sans-serif;
}

.mobile {
    display: none;
}

.nav {
    margin-top: 25px;
    margin-bottom: 10px;
}

.row {
    align-items: center;
}

.logo {
    height: 54px;
}

.personal-cabinet-label {
    font-weight: 500;
    font-size: 20px;
    opacity: 40%;
    margin-top: 15px;
    margin-left: 8px;
}

.change-bootstrap-padding {
    padding-left: 0px;
}

.menu {
    display: none;
}

#burger, [for=burger] {
    display: none;
}

.menu label {
    font-weight: 600;
    font-size: 25px;
}

.logout-btn {
    display: block;
    font-weight: 600;
    border-radius: 12px;
    padding: 5px 25px;
    font-size: 17px;
    border-style: solid;
    outline: none;
    background-color: white;
    color: #462446;
    border-color: #462446;
    cursor: pointer;
    transition: 0.2s;
}

.logout-btn:hover {
    background-color: #462446;
    color: white;
}

.delete-col {
    margin-left: 60px;
    padding-left: 0px;
    padding-right: 0px;
}

.delete-link:hover {
    text-decoration: blink;
}

.delete-label {
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: bold;
    color: #462446;
    opacity: 50%;
}

.delete-label:hover {
    opacity: 100%;
    color: #462446;
}

.pop-up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.pop-up.active {
    display: block;
}

.pop-up-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop-up-body {
    margin: auto;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 50px 35px 50px 35px;
    position: relative;
}

.pop-up-body h2 {
    font-weight: bold;
    font-size: 1.7em;
}

.pop-up-body p {
    font-size: 1.15em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2em;
}

.buttons-container {
    display: inline-flex;
}

.pop-up-body input[type="submit"] {
    border: 3px solid #f81d1d;
    font-weight: 600;
    border-radius: 10px;
    font-size: 15px;
    background-color: #ffffff;
    color: #f81d1d;
    padding: 12px 35px;
}

.pop-up-body input[type="submit"]:hover {
    color: white;
    background-color: #f81d1d;
    box-shadow: 1px 1px 15px 6px rgb(248, 29, 29);
}

.pop-up-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close-button {
    border: none;
    padding: 12px 35px;
    position: relative;
    top: 0;
    right: 0;
    margin-left: 20px;
    background: #464646;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

.close-button:hover {
    box-shadow: 1px 1px 15px 6px rgb(70, 70, 70);
}

h3 {
    font-weight: bold;
}

.edit-label {
    font-size: 20px;
    opacity: 40%;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.edit-label:hover {
    color: black;
    opacity: 100%;
    text-decoration: none;
}

.edit-icon {
    display: contents;
}

.edit-icon:hover {
    box-shadow: 1px 1px 30px 6px rgba(255, 116, 43, 100);
}

.header-user-data img {
    height: 48px;
    padding-bottom: 1%;
}

.user-data {
    margin-top: 20px;
}

table {
    padding: 30px 80px 30px 20px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    border-spacing: 13px 6px;
    border-collapse: separate;
}

.title {
    font-weight: 500;
    font-size: 20px;
    opacity: 50%;
    text-align: right;
}

.data {
    font-weight: 600;
    font-size: 20px;
}

td.social-network {
    opacity: 100%;
}

.social-network-logo {
    height: 40px;
}

.picture-container {
    z-index: -1;
    padding-left: 30px;
}

.pers-cab-img {
    height: 350px;
}

.pets-list-header {
    margin-top: 35px;
    margin-bottom: 30px;
}

ul {
    margin: 0px;
    padding: 4px;
}

.list-label {
    font-size: 1.75rem;
    font-weight: bold;
}

li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.pet-list-btn {
    font-size: 25px;
    font-weight: 600;
    background-color: #FF742B;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    align-items: center;
}

.pet-list-btn:hover {
    text-decoration: none;
    color: white;
    background-color: #FF742B;
    box-shadow: 1px 1px 30px 6px rgba(255, 116, 43, 100);
}

.add-label {
    font-size: 18px;
}

.wrapper {
    margin-bottom: 10%;
    max-width: none;
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.pet-card {
    position: relative;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.pet-card:hover {
    background: linear-gradient(to top, rgb(255 88 0), rgba(255, 116, 43, 0.8)) !important;
    background-size: cover !important;
}

.pet-name {
    position: absolute;
    bottom: 0;
    margin-left: 5%;
    color: white;
}

h5 {
    font-weight: bold;
    font-size: 27px;
}

@media screen and (max-width: 1199px) {
    .personal-cabinet-col {
        margin-left: 10px;
    }

    .logout-col {
        padding-left: 50px;
    }

    .delete-col {
        margin-left: 120px;
    }

    .picture-container {
        padding-left: 0px;
        margin-left: 100px
    }
}

@media screen and (max-width: 991.5px) {
    .menu, [for=burger] {
        display: block;
    }

    [for=burger]::before {
        content: '☰';
        font-size: 27px;
    }

    nav {
        z-index: 1;
        display: none;
        right: 0;
        position: absolute;
        width: 200px;
        background-color: white;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        padding: 10px 15px;
    }

    .display-none-md {
        display: none;
    }

    #burger:checked + label + nav {
        display: block;
    }

    #burger:checked + [for=burger]::before {
        content: '⮾';
        color: #ff742b;
    }

    .menu li {
        display: block;
        margin-right: 0px;
        padding: 0px;
    }

    .menu a {
        font-weight: 600;
        font-size: 18px;
        color: #462446;
    }

    .logout-btn {
        margin-bottom: 8px;
        display: initial;
        padding: 3px 15px;
    }

    .picture-container {
        display: none;
    }

    .user-data {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    table {
        padding: 30px;
    }

    .offer {
        margin-bottom: 25px;
    }

    .pets-list .col-md-6 {
        padding-left: 30px;
    }

    .pets-list .container {
        padding-right: 0px
    }
}

@media screen and (max-width: 767.5px) {
    .personal-cabinet-col {
        padding-left: 0px;
        margin-left: 0px;
    }

    .pets-list .col-md-6 {
        padding-left: 0px;
    }

    .pet-card {
        width: 100%;
    }
}

@media screen and (max-width: 575.5px) {
    .display-none-mobile {
        display: none;
    }

    .edit-icon {
        display: inline;
    }

    .header-user-data li {
        margin-right: 0px;
    }

    .header-user-data img {
        height: 48px;
        padding-bottom: 1%;
    }

    .title, .data {
        font-size: 18px;
    }

    li.list-label {
        font-size: 23px;
    }

    .mobile {
        display: contents;
    }

    .pet-list-btn {
        border-radius: 10px;
        padding: 5px 15px;
        font-size: 28px;
    }

    .pets-list .container {
        padding-left: 0px;
    }

    .col-11 {
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;
    }

    .pet-card {
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }

    .pop-up input[type="submit"] {
        width: 200px;
        font-size: 14px;
    }

    .delete-button {
        width: 260px;
        display: table-cell;
    }

    .pop-up-body {
        width: 300px;
    }

    .buttons-container {
        justify-content: center;
        display: grid;
    }

    .close-button {
        margin-top: 15px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 520px) {
    .personal-cabinet-col {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .pet-card {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    table {
        padding: 25px 1px;
    }

    .title, .data {
        font-size: 16px;
    }

    .pet-card {
        width: 90%;
    }
}