body {
    font-family: Montserrat, sans-serif;
}

.nav {
    margin-top: 25px;
    margin-bottom: 10px;
}

.row {
    align-items: center;
    display: flex;
}

.logo {
    height: 54px;
}

.change-bootstrap-padding {
    padding-left: 0px;
}

.find-pet-label {
    font-weight: 500;
    font-size: 20px;
    opacity: 0.4;
    margin-top: 15px;
    margin-left: 8px;
}

.pet-data-window {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
    border-collapse: separate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 3% 40px 3%;
    border-radius: 40px;
    border-spacing: 13px 6px;
}

.elem-in-window {
    margin: auto;
}

.title {
    margin-bottom: 2%;
}

h1 {
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
    color: black;
}

.narrow-screen-header {
    display: none;
}

.data-container {
    align-items: center;
    flex-direction: row;
    display: flex;
}

.pet-data {
    overflow: auto;
    width: 285px;
}

.wrapper {
    margin-right: 2em;
    max-width: none;
    width: 249px;
    height: 166px;
    border-radius: 20px;
}

.pet-card {
    background-size: cover;
    position: relative;
}

.pet-name {
    position: absolute;
    bottom: 0px;
    margin-left: 5%;
    color: white;
}

h4 {
    color: rgb(255, 116, 43);
    font-size: 1.5em;
    font-weight: bold;
}

td {
    vertical-align: top;
}

td {
    font-size: 18px;
}

table.pet {
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 0.5em 0.1em;
}

.title-table {
    font-weight: 500;
    opacity: 0.5;
}

.data-table {
    font-weight: 600;
}

.features {
    margin-top: 2em;
}

.feature-col {
    margin-top: 0.5em;
}

.features-list {
    align-items: normal;
}

h2 {
    font-weight: bold;
    font-size: 1.6em;
}

.features-orange {
    color: rgb(255, 116, 43);
}

.contacts {
    margin-top: 1.6em;
    margin-bottom: 2em;
}

.contacts-header {
    margin-bottom: 0.8em;
}

.user-card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
    border-collapse: separate;
    border-radius: 20px;
    border-spacing: 13px 6px;
    padding: 1em;
    margin-bottom: 2%;
    margin-right: 15px;
}

table.user {
    font-size: 18px;
    border-collapse: separate;
    border-spacing: 1em 0.1em;
}

.tg-btn {
    font-size: 16px;
    font-weight: 600;
    background-color: #29B6F6;
    color: white;
    border-radius: 20px;
    padding: 0.8em 1.2em 0.8em 0.4em;
    text-decoration: none;
}

.tg-btn:hover {
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 15px 6px rgb(41, 181, 244);
}

h3 {
    font-weight: 600;
    color: #FF742B;
}

.feature-description {
    font-weight: 600;
    max-width: 28em;
}

.social-networks-container {
    margin-top: 20px;
    display: flex;
    padding-left: 15px;
}

.social-network {
    margin-right: 20px;
}

@media screen and (max-width: 1199.5px) {
    .find-pet-label-col {
        margin-left: 1.2em;
    }
}

@media screen and (max-width: 991.5px) {
    .find-pet-label-col {
        margin-left: 4em;
    }

    h3 {
        font-size: 1.3em;
    }

    .feature-description {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 767.5px) {
    .find-pet-label-col {
        margin-left: 2.6em;
    }

    .wrapper {
        width: 210px;
        height: 140px;
        margin-right: 1.5em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
    }

    .feature-description {
        max-width: 15em;
    }
}

@media screen and (max-width: 575.5px) {
    .display-none-mobile {
        display: none;
    }

    .pet-data-window {
        padding: 6% 5%;
    }

    .data-container {
        flex-direction: column;
    }

    .wrapper {
        margin-bottom: 1em;
        margin-right: 0px;
        width: 249px;
        height: 166px;
    }

    .title {
        margin-top: 0px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        text-align: center;
        font-size: 1.4em;
    }

    h3 {
        text-align: center;
        font-size: 1.5em;
    }

    .features-list {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
    }

    .feature-description {
        text-align: center;
        font-size: 1.1em;
        max-width: none;
    }

    .contacts-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
    }

    .user-data {
        overflow: auto;
        width: 310px;
    }

    .user-card {
        margin-right: 0px;
    }
}

@media screen and (max-width: 349px) {
    .title {
        text-align: center;
    }

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.15em;
    }

    .normal-header, .user img {
        display: none;
    }

    .narrow-screen-header {
        display: block;
    }

    .wrapper {
        width: 210px;
        height: 140px;
    }

    .elem_in_window {
        margin: 0px;
    }

    .pet-data {
        width: 230px;
    }

    td {
        font-size: 0.77em
    }

    .user-data {
        width: 230px;
    }

    .user-card {
        padding: 0.6em;
    }

    .user-data table {
        border-spacing: 0.5em 0.23em;
    }

    .tg-btn {
        font-size: 0.8em;
        display: inline-table;
        padding: 0.5em 1.2em 0.5em 1.2em;
    }
}
