<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Авторизация</h3>
    <form th:method="post" th:action="@{/login}">
        Email: <input type="email" th:name="username"> <br><br>
        Пароль: <input type="password" th:name="password"> <br><br>
        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
        <input type="submit" value="Вход">
    </form>
    <br>
    <hr>
    <h3>Нет аккаунта? Зарегистрируйтесь прямо сейчас!</h3>
    <a href="/registration"><h2>Зарегистрироваться</h2></a>
</body>
</html>