<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Chipped Pets Helper</h1>
    <h4>Подробная информация о питомце</h4>

    <div th:if="${pet != null}">
        <b>Чип:</b> ${pet.chipId}<br>
        <b>Вид животного:</b> ${pet.type}<br>
        <b>Порода:</b> ${pet.breed}<br>
        <b>Пол:</b> ${pet.sex}<br>
        <b>Кличка:</b> ${pet.name}<br>
        <hr>
        <h3>Информация о хозяине</h3>
        <b>Имя:</b> ${pet.user.firstName}<br>
        <b>email:</b> ${pet.user.email}<br>
        <b>Телефон:</b> ${pet.user.phoneNumber}<br>
    </div>
    <div th:unless="${pet != null}">
      h4>К сожалению, в нашей базе нет питомца с указанным чипом</h4>
    </div>
</body>
</html>