body {
    font-family: Montserrat, sans-serif;
}

.nav {
    margin-top: 25px;
    margin-bottom: 10px;
}

.row {
    align-items: center;
    display: flex;
}

.logo {
    height: 54px;
}

.change-bootstrap-padding {
    padding-left: 0px;
}

.find-pet-label {
    font-weight: 500;
    font-size: 20px;
    opacity: 0.4;
    margin-top: 15px;
    margin-left: 8px;
}

.pet-data-window {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
    border-collapse: separate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    border-radius: 40px;
    border-spacing: 13px 6px;
}

.elem_in_window {
    margin: auto;
}

.title {
    margin-bottom: 2%;
}

h1 {
    font-size: 2.4em;
    font-weight: bold;
    color: black;
}

.data-container {
    align-items: center;
    flex-direction: row;
    display: flex;
}

.wrapper {
    margin-right: 2em;
    max-width: none;
    width: 249px;
    height: 166px;
    border-radius: 20px;
}

.pet-card {
    position: relative;
    background:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1)), url(../img/dog-example.jpg);
    background-size: cover;
}

.pet-name {
    position: absolute;
    bottom: 0px;
    margin-left: 5%;
    color: white;
}

h4 {
    color: rgb(255, 116, 43);
    font-size: 1.5em;
    font-weight: bold;
}

table.pet {
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 1em 0.1em;
}

.title-table {
    font-weight: 500;
    opacity: 0.5;
}

.data-table {
    font-weight: 600;
}

.features {
    margin-top: 2em;
}

.features-header {
    margin-bottom: 1%;
}

h2 {
    font-weight: bold;
    font-size: 1.6em;
}

.features-orange {
    color: rgb(255, 116, 43);
}

.contacts {
    margin-top: 2em;
    margin-bottom: 2em;
}

.user-card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
    border-collapse: separate;
    border-radius: 20px;
    border-spacing: 13px 6px;
    padding: 1em;
    margin-bottom: 2%;
    margin-right: 15px;
}

table.user {
    font-size: 18px;
    border-collapse: separate;
    border-spacing: 1em 0.1em;
}

.tg-btn {
    font-size: 16px;
    font-weight: 600;
    background-color: #29B6F6;
    color: white;
    border-radius: 20px;
    padding: 0.8em 1.2em 0.8em 0.4em;
    text-decoration: none;
}

.tg-btn:hover {
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 15px 6px rgb(41, 181, 244);
}

h3 {
    font-weight: 600;
    color: #FF742B;
}

.feature-description {
    font-weight: 600;
}